doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Leave Application

        include components/styles.pug
    body.blue-grey

        .container
            .row
                .col.s12
                    .card-panel

                        h4.center Leave Application
                        p Name: #{name}
                        p Personal number: 12345678

                        p From: #{fromdate}  -  To: #{todate}

                        p Nature of leave: #{nature} [CL/EL/HPL]

                        p Purpose: #{purpose}